* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(98, 22, 116);
    font-size: 25px;

}

 h1{
    background-color: white;
    width: 100%;
    margin: 150px auto 0;
    padding: 20px auto 0;
    border-radius: 10px;

}
h2{
    color:azure;
}

h3{
    color: rgb(19, 19, 134);
}
.question{
    font-weight: 600;
   
}
.question h2 {
    /* font-size: 200px; */
    background-color: cadetblue;
    margin: 200px;
    padding: 25px auto 0;
    border-radius: 10px;
}
.answers {
    margin-bottom: 20px
}
#submit{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: blueviolet;
    color: white;
    border: 0px;
    border-radius: 2px;
    padding: 25px;
    cursor: pointer;
    margin-bottom: 25px;
    
}
#submit :hover{
    background-color: blue;
} 
